@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 10", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/images/galaxy.jpg")
    no-repeat center center/cover;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
    gap: 30px;
    color: rgba(58, 5, 45, 0.76);
    text-shadow: 0 0 30px;
    border-radius: 20px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.836);
    border: 3px solid rgba(9, 109, 112, 0.18);
    backdrop-filter: blur(1.5px);
}

.todo-app h1 {
    font-size: 2rem;
}

.stat-container {
    padding: 15px 20px;
    border-radius: 10px;
    border: 4px solid rgba(56, 6, 37, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details {
    width: 100%;
}

.details h2 {
    font-size: 30px;
}

#progressbar {
    width: 100%;
    height: 7px;
    background: #880a7d;
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress {
    width: 0%;
    height: 100%;
    background: #f074d5cc;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #f86cd58e;
    border: 2px solid rgba(247, 158, 220, 0.3);
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgba(132, 111, 250, 0.3);
    color: #570a4c;
    font-weight: bold;
}

.input-area input::placeholder {
    color: #701074;
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #aa10be;
    font-size: 1.1rem;
    background: rgba(95, 79, 185, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #2604a165;
}

.todos-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(95, 79, 185, 0.3);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #5c0a5c;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#task-list li .checkbox{
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list li .checkbox:checked {
    background: #db43cf;
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
    content: '\2713';
    color: #8f43e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}

#task-list li span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

#task-list li.completed span {
    text-decoration: 2px line-through #46043d;
    color: #820986;
}

.task-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-buttons button {
    background: rgba(155, 24, 160, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: rgb(121, 126, 125);
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons button:hover {
    transform: scale(1.2);
}

.task-buttons .edit-btn {
    background: #7c0e7e;
}

.task-buttons .delete-btn {
    background: #570458;
}

@media(max-width: 600px) {
    .container {
        margin: 0 20px;
        padding: 0 10px;
    }

    .todo-app {
        padding: 1.5rem;
        gap: 20px;
    }

    #numbers {
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .input-area input{
        font-size: 1rem;
        width: 100%;
    }

    #task-list li {
        font-size: 1rem;
    }
}